<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="icon"
      type="image/png"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Magnetic_quadrupole_moment.svg/1200px-Magnetic_quadrupole_moment.svg.png">

    <style type="text/css">
    /* #background {
        background-image: linear-gradient(#EFBDEB,#B68CB8);
    } */
    </style>

    <title> {% block title %}Physics{% endblock %}</title>
  </head>
  <style>
    #playground {
      border: 1px solid black;
      background-color: black;
      display: block;
      float: left;
      height: 600px;
      width: 600px;
    }
    #board {
      background-color: gray;
      height: 600px;
      margin-left: 23%;
      width: 800px;
    }
    #options {
      width: 160px;
      height: 20px;
      left: 10px;
    }
  </style>
  <body>
    <h1 class="text-center">3D Magnetic Field</h1>
    <div id="board">
      <div id="playground"></div><br>
      <select onchange="getChoice()" id="options">
        <option value="linecur">Line of Current</option>
        <option value="movecharge">Moving Charge</option>
        <option value="loopcur">Loop of Current</option>
        <option value="solenoid">Solenoid</option>
      </select><br><br>
      <button id="reset">Reset</button><br>
    </div>
  </body>

  <script src="../static/js/three.js"></script>
  <script src="https://threejs.org/build/three.min.js"></script>
  <script src="https://threejs.org/examples/js/controls/OrbitControls.js"></script>

    <script src="{{ url_for('static', filename='js/physics.js') }}"></script>
</html>
